{% extends 'ads/base.html' %}

{% block title %}
    Ad delete
{% endblock title %}

{% block content %}
    {% if ad.author != user %}
        <h1>Вы не можете удалить объявление!</h1>
        <p>{{user}}</p>
        <p>{{ad.author}}f</p>
    {% else %}
        <h1>Вы уверены, что хотите удалить объявление?</h1>
        <form method="post" action="{% url 'ads:ad_delete' ad.id %}">
            {% csrf_token %}
            <button type="submit">Да, удалить!</button>
            <a href="{% url 'ads:ad_show' ad.id %}">Нет!</a>
        </form>
    {% endif %}
{% endblock content %}