{% extends 'ads/base.html' %}

{% block title %}
    Advertisement "{{ ad.title }}"
{% endblock title %}

{% block content %}
    <section class="advertisement">
        <div class="advertisement__upper">
            <img src="{{ ad.image_url }}" alt="{{ ad.title }}" class="advertisement__image margined10">
            <div class="advertisement__summary">
                <p>{{ ad.category.title }}</p>
                <p class="advertisement__title">{{ ad.title }}</p>
                <p class="advertisement__published">published at {{ ad.date_pub.date }} by {{ ad.author }}</p>
            </div>
        </div>
        <p class="advertisement__description">{{ ad.description }}</p>
        {% if ad.author == user %}
            <a href="{% url 'ads:ad_edit' ad.pk %}" class="button">Edit advertisement</a>
        {% endif %}
        <p class="advertisement__author-rating">Author rating: {{ ad.author.rating_calc }}</p>
        {% with goto="ads:rate_ad_author" var=ad.id %}
            {% include 'core/rate_author.html' %}
        {% endwith %}

        {% if comments %}
            <h2>Comments:</h2>
            {% for comment in comments %}
                <p>{{ comment.author }}</p>
                <p>{{ comment.date_pub }}</p>
                <p>{{ comment.text }}</p>
            {% endfor %}
            {% else %}
            <h2>No comments yet. Be first!</h2>
        {% endif %}
        {% if ad.author != user %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Add comment</button>
        </form>
        {% endif %}
    </section>
{% endblock content %}