{% if ads %}
<ul class="ads-list">
    {% for ad in ads %}
    {% if ad.status == 'p' %}
    <li class="ads-list__item">
        <a href="{% url 'ads:ad_show' ad.id %}" >
            <p class="ads-list__title">{{ ad.title }}</p>
            <p class="ads-list__author"> {{ ad.author.username }} </p>
            <p class="ads-list__description"> {{ ad.description }}</p>
            <img class="ads-list__image" src="{{ ad.image_url }}">
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}