<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'ads/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>
        {% block title %}
            Best shop ever
        {% endblock title %}
    </title>
</head>
<body>
{% block page %}
    {% block header %}
        {% include 'ads/header.html' %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
        {% include 'ads/footer.html' %}
    {% endblock footer %}
{% endblock page %}
</body>
{% include 'ads/ext_scripts.html' %}
</html>