{% extends 'ads/base.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    <section class="categories">
        {% if categories %}
        <ul class="categories__list">
            {% for cat in categories %}
            <li class="categories__item">
                <a href="{% url 'ads:category_show' cat.id %}" class="categories__title">{{ cat.title }}</a>
                <p> {{ cat.description }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
{% endblock content %}
