<header>
{% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'core:profile' user.id %}">Мой профиль</a></li>
            <li><a href="{% url 'core:logout' %}">Выйти</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'core:signup' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'core:login' %}">Войти</a></li>
        </ul>
{% endif %}
<a href="{% url 'ads:recent_ads' %}">Объявления</a>
<a href="{% url 'ads:categories' %}">Категории</a>
</header>