<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
<form method="post" action="{% url 'core:password_reset' %}">
    {% csrf_token %}
    {% if error %}
    <ul>
        <li><p>{{ error }}</p></li>
        <li><a href="{% url 'core:signup' %}">Sign up</a></li>
    </ul>
    {% endif %}
    <label for="email_for_reset">Your email</label>
    <input type="text" id="email_for_reset" name="email_for_reset">
    <button type="submit">Go ahead</button>
</form>
<a href="{% url 'ads:index' %}">Home</a>
</body>
</html>