{% extends 'ads/base.html' %}

{% block title %}
    {{ profile }}
{% endblock title %}

{% block content %}
    <section class="profile">
        <div class="profile__upper">
            <h1>Info about {{profile}}</h1>
            {% if user.id == profile.id %}
                <a href="{% url 'core:profile_edit' profile.id %}" class="button">Edit profile</a>
            {% endif %}
        </div>
        <div class="profile__page">
        {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="photo" class="profile__photo">
        {% endif %}
            <div class="profile__credentials">
                <p>Name: {{profile.first_name}} {{ profile.last_name }}</p>
                <p>E-mail: {{profile.email}}</p>
                <p>Telephone: {{profile.telephone}}</p>
                <p>Birthday: {{profile.birth_date|date:"d F Y"}}</p>
            </div>
        </div>
        <h2>My ads:</h2>
        <ul>
            {% for ad in profile.ads.all %}
                <li>
                    <a href="{% url 'ads:ad_show' ad.id %}">{{ ad }}</a>
                    <img src="{{ ad.image_url }}">
                </li>
            {% endfor %}
        </ul>
        <p>Author rating: {{ profile.rating_calc }}</p>
        {{ error }}
        {% if user.id != profile.id %}
            {{ error }}
            {% with goto="core:rate_user" var=profile.id %}
                {% include 'core/rate_author.html' %}
            {% endwith %}
        {% endif %}
    </section>
{% endblock content %}