* {
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: snow;
    text-decoration: underline;
}

body {
    background: radial-gradient(#000, #111), #000;
    min-height: 100%;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
}

canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top:0;
    left:0;
}

.header__logo {
    margin-right: auto;
}

.header__navigation {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.header__menu-item {
    display: block;
}

.ads-list {
    display: flex;
    flex-wrap: wrap;
}

.ads-list__item {
    margin: 0 30px;
    width: 235px;
    text-align: center;
    display: block;
}

.ads-list__title {
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    
}

.ads-list__author {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.ads-list__description {

}

.ads-list__image {
    width: 200px;
}

.footer {
    display: flex;
    align-items: center;
    text-align: center;
}