* {
  box-sizing: border-box
}

body {
  background: radial-gradient(#000, #111), #000;
  min-height: 100%;
  color: white;
}

canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}