* {
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: snow;
}

a:hover {
    text-decoration: underline;
}

body {
    background: radial-gradient(#000, #111), #000;
    min-height: 100%;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
    max-width: 1180px;
    margin: auto;
}

/*.wrapper {*/
/*    max-width: 1180px;*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/

canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top:0;
    left:0;
}

button, .button {
    mix-blend-mode: hard-light;
    background: linear-gradient(gray, darkgray, gray);
    color: #fff;
    outline: gold 2px solid;
    display: inline-block;
    padding: 9px 22px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button:hover, .button:hover {
    outline: red 2px solid;
    opacity: 0.8;
}

.margined10 {
    margin: 10px;
}

.hidden-text {
    font-size: 0;
    line-height: 0;
}

.flex {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 50px;
    justify-content: space-between;
    mix-blend-mode: hard-light;
    background: linear-gradient(gray, darkgray, gray);
}

.header__logo {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    background: linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    white-space: nowrap;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: bold;
}

.header__menu-item {
    display: block;
    margin: 0 15px;
}

.ads-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.ads-list__item {
    margin: 10px;
    padding: 10px 10px 5px 10px;
    width: 275px;
    background-color: rgba(255, 255, 255, .1);
    display: block;
}

.ads-list__item p {
    margin: 5px 0;
}

.ads-list__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
    padding: 15px;
}

.ads-list__item:hover {
    opacity: 0.8;
    outline: #570808 2px solid;
}

.ads-list__item:hover .ads-list__title{
    text-decoration: underline;
}

.ads-list__title {
    display: block;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
}

.ads-list__author {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.ads-list__description {

}

.ads-list__image {
    width: 100%;
}

.index > p{
    margin-left: 25px;
}

.index__greet {
    display: flex;
    margin: 30px;
    justify-content: center;
    font-size: 22px;
    line-height: 26px;
}

.index__greet * {
    margin-right: 20px;
}

.index__greet-text {
    max-width: 30%;
}

.index__greet-text p:first-child {
    text-align: center;
    font-size: 26px;
    line-height: 33px;
}

.index__image {
    max-width: 35%;
    position: relative;
}

.categories__list {
    list-style: none;
    margin: 20px 10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.categories__item {
    background-color: rgba(255, 255, 255, .1);
    text-align: center;
    margin: 20px;
    padding: 20px;
    max-width: 300px;
}

.categories__item:hover {
    opacity: 0.8;
    outline: #570808 2px solid;
}

.categories__item:hover .categories__title{
    text-decoration: underline;
}

.advertisement__upper, .profile__upper {
    display: flex;
}

.advertisement__image, .profile__photo {
    display: block;
    width: 100%;
    max-width: 300px;
}

.advertisement__summary {
    margin-left: 50px;
}

.advertisement__title {
    font-size: 34px;
    line-height: 40px;
    font-weight: bolder;
}

.advertisement__published {
    font-size: 12px;
    line-height: 26px;
}

.advertisement__description {
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 26px;
}

.advertisement__author-rating {
    font-weight: bold;
}

.profile h1 {
    margin-right: auto;
}

.profile .button {
    margin-left: 15px;
}

.profile__upper {
    align-items: center;
    justify-content: space-between;
}

.profile__page {
    display: flex;
    margin: 20px;
}

.profile__credentials {
    margin-left: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    text-align: center;
}

.selected_rating {
    width: 100px;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 50px;
}

input,
textarea {
    resize: none;
    outline: none;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px;
    font-size: 18px;
    line-height: 25px;

    /* Перебивается встроенным textarea стилем, добавил явно */
    font-family: 'Open Sans', 'Arial', sans-serif;
    height: 35px;
}

.textarea {
    height: 100px;
}