<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="https://test.hand-made-tlt.ru/"/>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Добавление реактива к методике</title>
</head>
<body>
    <h1>Добавление реактива к методике</h1>
    <form method="post">
        <div class="form-group">
            <div class="divided">
                <label for="methodic">Название методики:</label>
                <select name="methodic">
                    {% for a in all %}
                        {% if a[0] %}
                            <option value="{{ a[0] }}">{{ a[0] }}</option>
                        {% endif %}
                    {% endfor %} 
                </select>
            </div>
            <div class="divided">
                <label for="reagent">Название реактива:</label>
                <select name="reagent">
                    {% for a in all %}
                        {% if a[1] %}
                            <option value="{{ a[1] }}">{{ a[1] }}</option>
                        {% endif %}
                    {% endfor %} 
                </select>
            </div>
            <button type="submit" class="button">Добавить</button>
        </div>
    </form>
    <a href="{{url_for('show_index')}}" class="button">На главную</a>
</body>
</html>