<h1>Добавление реактива</h1>  
<form action="#" method="post">  
  <div class="form-group">  
    <label for="name">Название:</label>  
    <input type="text" maxlength="100" name="name" placeholder="Название реактива">  
  
    <label for="year">Количество:</label>  
    <input maxlength="100" name="qty" placeholder="Количество">
    
    <label for="year">Годен до:</label>  
    <input maxlength="100" name="best" placeholder="ГГГГ-ММ-ДД">  
  
    <button type="submit">Добавить</button>  
   </div>
</form>