<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="https://test.hand-made-tlt.ru/"/>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Реактивы</title>
</head>
<body>
    <h1>Реактивы</h1>  
    <a href="{{url_for('add_reagent')}}" class="button">Добавить реактив</a> 
    <ol>  
        {% for reagent, methodic_list in reagents.items() %}
            <li> 
                <p>{{reagent[1]}} имеется в количестве {{reagent[2]}}. Годен до {{ reagent[3]}}.
                {% if methodic_list[0][1] -%}
                    Используется в методиках
                {% endif %}
                {%- for methodic in methodic_list -%}
                    {%- if methodic[0] -%}
                        {{methodic[1]}}
                    {%- endif -%}
                    {%- if methodic_list.index(methodic) != loop.length - 1 -%}
                        , 
                    {% endif %}
                {% endfor %} </p>
                <a href="{{url_for('edit_reagent', reagent_id = reagent[0])}}">  
                    Изменить  
                </a>  
                <a href="{{url_for('delete_reagent', reagent_id = reagent[0])}}" style="margin-left: 10px;">  
                    Удалить  
                </a>  
            </li>  
        {% endfor %}  
    </ol>
    <a href="{{url_for('show_index')}}" class="button">Назад</a>
</body>
</html>